# Build Artifacts
bin/
obj/
*.dll
*.exe
*.pdb

# Visual Studio / .NET specific
*.suo
*.user
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

# Other
.vs/
*.log